:root {
    --white: #ffffff;
    --black: #000000;
    --light-cream-colored: #ecdede;
    --light-cream:#dfc8c9;
    --light-red: #e77d7d;
}

a {
    text-decoration: none;
}

.container {
    margin: auto;
    width: 900px;
    display: grid;
    grid-template-areas:
    'header header'
    'row1 row2'
    'row3 row4'
    'row5 row6'
    'row7 row7'
    'row8 row8'
    'footer footer';
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(640px,1fr));
    grid-template-rows: 500px 375px 375px 375px 485px 280px 220px;
 }
 
 .container header{
    grid-area: header;
    background-image: url(/CSS_Page_Layout_Mobile/images/XC40.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
 }

 nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}

.logo {
    height: 60px;
}

nav ul li {
    list-style: none;
    display: inline;
}

nav ul li a {
    color: var(--light-red);
    padding: 10px 28px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 16px;
}

nav ul li:last-child a{
    text-transform: uppercase;
    color: var(--black);
    background-color: var(--light-cream-colored);
}

nav ul li a:hover{
    background-color: var(--light-cream-colored);
    cursor: pointer;
    font-size: 18px;
}

.container header h1{
    font-family: 'Poppins';
    font-size: 40px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: var(--light-red);
    margin-left: 5%;
}

.container header p{
    font-size: 16px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: var(--light-red);
    margin-left: 5%;
}

 .description-xc90 {
    grid-area: row1;
    background-color: var(--light-cream-colored);
    padding: 100px;
 }

 .image-xc90 {
    grid-area: row2;
    background-image: url(/CSS_Page_Layout_Mobile/images/xc90.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
 }

 .image-xc60 {
    grid-area: row3;
    background-image: url(/CSS_Page_Layout_Mobile/images/xc60.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
 }

 .description-xc60 {
    grid-area: row4;
    background-color: var(--light-cream-colored);
    padding: 100px;
 }

 .description-xc90 h4, .description-xc60 h4 {
    font-family: 'Poppins';
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 20px;
}

.description-xc90 p, .description-xc60 p {
    text-align: justify;
    margin-bottom: 40px;
 }

 .description-xc90 a, .description-xc60 a {
    font-size: 16px;
    color: var(--white);
    background-color: var(--light-red);
    border-radius: 20px;
    padding: 10px;   
}

.description-xc90 a:hover, .description-xc60 a:hover {
    padding: 12px;
}
 
 .image-v40 {
    grid-area: row5;
    background-image: url(/CSS_Page_Layout_Mobile/images/v40.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
 }

 .image-v40cross {
    grid-area: row6;
    background-image: url(/CSS_Page_Layout_Mobile/images/v40crosscountry.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
 }

 .image-v40 h4, .image-v40cross h4 {
    font-family: 'Poppins';
    font-size: 28px;
    font-weight: 900;
 }

 .image-v40cross p {
    font-family: 'Poppins';
    font-size: 20px;
 }

 .image-v40 a {
    display: inline-block;
    font-size: 16px;
    color: var(--white);
    background-color: var(--light-red);
    border-radius: 20px;
    padding: 10px; 
    margin: 60% 0%;
 }

 .image-v40 a:hover {
    padding: 12px;
 }

 .image-v40cross a {
    display: inline-block;
    font-size: 16px;
    color: var(--white);
    background-color: var(--light-red);
    border-radius: 20px;
    padding: 10px; 
    margin: 54% 0%;
 }

 .image-v40cross a:hover {
    padding: 12px;
 }


 /* TESTIMONIALS */

 .testimonials {
    grid-area: row7;
    padding: 60px 40px;
    background-color: var(--light-cream-colored);
 }

 .testimonials h2 {
    font-family:'Poppins';
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 40px;
}

 .testimonials-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
 }

 .testimonials-client {
    display: flex;
    flex-direction: column;
    text-align: center;
 }

 .testimonials-client:hover {
    background-color: var(--light-cream);
    border-radius: 20px;
    padding: 10px;
 }

 .testimonials-client img {
    height: 60px;
    margin-bottom: 40px;
 }
 
 .testimonials-client p:first-of-type {
    font-size: 16px;
    margin-bottom: 40px;
}

.testimonials-client p:last-child {
    font-size: 12px;
}

 .testimonials-client h4 {
    font-family:'Poppins';
    font-size: 20px;
    margin-bottom: 4px;
}

/* INSIDE */

 .inside-grid {
    grid-area: row8;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
 }

 .inside-volvo {
    height: 100%;  
    width: 100%;
 }

 /* FOOTER */

 footer {
    grid-area: footer;
    background-color:var(--light-cream-colored);
    padding: 40px 40px;
}

.footer-logo {
    display: flex;
    justify-content: center;
    height: 40px;
    margin-bottom: 20px;
}

.footer-nav ul{
    display: flex;
    justify-content: center;
}

.footer-nav ul li {
    list-style: none;
    padding: 0px 20px 0px 20px;
}

.footer-nav ul li a {
    font-size: 16px;
    color: var(--light-red);
    font-weight: 600;
    text-align: center;
}

.footer-nav ul li a:hover{
    color: var(--white);
    cursor: pointer;
    font-size: 18px;
}

.social-media {
    display: grid;
    grid-template-columns: 40px 40px 40px 40px;
    justify-content: center;
    margin-top: 40px;
}

.social-media a img {
    height: 20px;
}

.social-media a img:hover {
    height: 22px;
}